.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pFont{
  font-family: cursive;
}
.addImg{
  height: 10%;
  width: 10%;
  margin-top: 45vh;
  margin-left: 6vw;
  cursor: pointer;
}
.btn-primary{
  width: 40%;
  margin: 2vw;
  background-color: #003e8c !important;
  border-color: #9e2841 !important;
}
.card{
  margin: 1vw;
}
